.getting-started-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #242831;
}

.logo-placeholder {
    height: 170px;
    width: 170px;
    border-radius: 100px;
    background-color: rgb(4, 19, 36);

}

.getting-started-bg {
    background-color: #DCC1F8;
    border-radius: 15px;
    margin-top: 50px;
    transition: .2s;
    /* border: 2px solid #35006d; */
}

.getting-started-bg:active {
    opacity: .8;
}

.getting-started-btn {
    padding: 13px 30px;
    /* background-color: lightcoral; */
    background-color: #d0eafc;
    border-radius: 15px;
    cursor: default;
    user-select: none;
    font-weight: 600;
    background:
    radial-gradient(closest-side, 
    #d0a9fa  calc(100% - 1px),
     transparent 100%) 
     fixed
     no-repeat;
    background-size:50px 50px;
    background-position:inherit;

    /* C1F2E2 (cyan), */

    /* background:
    radial-gradient(farthest-side, 
     transparent calc(100% - 3px),
     #82bae3 calc(100% - 2px) calc(100% - 1px),
     transparent 100%) 
     fixed
     no-repeat;
    background-size:50px 50px; */
}

.getting-started-text {
    font-size: 14px;
    color: #35006d;
}