.project-name-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #242831;
}

.project-name-center {
    height: fit-content;
    width: 80%;
}

.project-name-text {
    font-size: 35px;
    font-weight: 700;
    color: white;
}

.create-btn-bg {
    background-color: #DCC1F8;
    border-radius: 15px;
    margin-top: 25px;
    transition: .2s;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    /* border: 2px solid #35006d; */
}

.create-btn-bg:active {
    opacity: .8;
}

.create-btn {
    padding: 13px 30px;
    /* background-color: lightcoral; */
    background-color: #d0eafc;
    border-radius: 15px;
    cursor: default;
    user-select: none;
    font-weight: 600;
    background:
    radial-gradient(closest-side, 
    #d0a9fa  calc(100% - 1px),
     transparent 100%) 
     fixed
     no-repeat;
    background-size:50px 50px;
    background-position:inherit;

    /* C1F2E2 (cyan), */

    /* background:
    radial-gradient(farthest-side, 
     transparent calc(100% - 3px),
     #82bae3 calc(100% - 2px) calc(100% - 1px),
     transparent 100%) 
     fixed
     no-repeat;
    background-size:50px 50px; */
}

.create-text {
    font-size: 14px;
    color: #35006d;
}

.project-name-tf {
    height: 40px;
    width: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    margin-top: 20px;
    border-bottom: solid 2px violet;
    font-size: 20px;
    color: white;
    caret-color: violet;
    
}

.cancel-btn {
    border-radius: 15;
    position: absolute;
    top: 50px;
    left: 60px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:
    radial-gradient(closest-side, 
    #00000031  calc(100% - 1px),
     transparent 100%) 
     fixed
     no-repeat;
    background-size:50px 50px;
    background-position:inherit;
}

.cancel-btn:hover {
    background-color: #0000003e;
    border-radius: 15px;
}

.cancel-btn:active {
    opacity: .8;
}

.cancel-x {
    font-size: 35px;
    color: white;
}

.close-icon {
    height: 30px;
    width: 30px;
}